

.header{
    background-color: var(--light);
    display: grid;
    grid-template-columns:1fr auto;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 30px 10px 20px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}

.header>div:first-child{
    font-size: 30px;
    font-family: 'Bowlby One Sc', cursive;
    justify-self: flex-start;
}

.logo{
    color: white;
}

.header>div:nth-child(2){
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.header>div:nth-child(2)>div{
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease-in-out;
}

.header>div:nth-child(2)>div:hover{
    border-bottom: 3px solid white;
}

@media screen and (max-width:850px) {
    .header{
        padding: 10px 0 10px 20px;
        grid-template-columns:50% repeat( auto-fit, minmax(20px, 1fr) );
    }
    .header>div:nth-child(2){
        gap:20px;
    }
}

@media screen and (max-width:500px) {
    .header{
        padding: 10px 20px 10px 20px;
        grid-template-columns: 1fr 1fr;
    }
    .header>div{
        font-size:16px;
    }
    .header>div:nth-child(2)>div:hover{
        border-bottom: 3px solid transparent;
    }
    .header>div:nth-child(2)>div:active{
        border-bottom: 3px solid white;
    }
}