
.home-main{
    display: grid;
    grid-template-columns: 1fr;
    /* justify-items: center; */
    font-size: 20px;
    margin: 20px 10vw;
    text-align: justify;
}

.home-head{
    font-size: 1.7rem;
    color: var(--light);
    text-align: center;
}
.heading{
    margin-top: 20px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    color: var(--light);
}


.home-main>div:nth-child(2){
    font-size: 25px;
    margin-top: 50px;
    line-height: 40px;
    font-weight: bold;
    z-index: 2;
    text-align: center;
}

.home-main>div:nth-child(3){
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    margin-top: 50px;
}
.home-main>div>img{
    width: 90%;
    transform: rotate(8deg);
    transition: all 0.5s ease-in-out;
}

.steps{
    margin-top: 100px;
}

.steps>div:first-child{
    font-size: 30px;
    font-weight: bold;
    color: var(--light);
    text-align: center;
}

.steps>div:nth-child(2){
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 120px;
    margin-top: 80px;
    font-size: 2rem;
    box-sizing: border-box;
}
.steps>div:nth-child(2)>div{
    display: grid;
    justify-items: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 5px solid var(--light);
}

.step-head{
    color: var(--light);
    font-weight: bold;
    font-size: 4rem;
    border-bottom: none !important;
}

.started{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    justify-items: center;
}
.started>div:first-child{
    font-size: 30px;
    font-weight: bold;
    color: var(--light);
}

.started-btn{
    box-sizing: border-box;
    border: 3px solid var(--light);
    font-size: 30px;
    padding: 10px 15px;
    background-color: white;
    color: var(--light);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.started-btn:hover{
    background-color: var(--light);
    color: white;
}
.started-btn:active{
    background-color: white;
    color: var(--light);
}

.contact{
    background-color: var(--light);
    color: white;
    margin-top: 100px;
    text-align: center;
    padding: 20px;
}

.contact>div:first-child{
    font-size: 30px;
    font-weight: bold;
}

.contact>div:nth-child(2){
    display: flex;
    justify-content: center;
    padding: 20px;
}

.social-icon{
    font-size: 35px;
    cursor: pointer;
    color: white;
    transition: all 0.5s ease-in-out;
}
.social-icon:hover{
    color: purple;
}

@media screen and (min-width:510px) {
    .home-main>div>img:hover{
        transform: rotate(0deg);
    }
}

@media screen and (max-width:500px) {
    .heading{
        font-size: 2.5rem;
    }
    .steps>div:nth-child(2){
        font-size: 1.5rem;
    }
    .step-head{
        font-size: 2.5rem;
    }

    .step-subhead{
        padding: 10px;
    }
    .steps>div:nth-child(2){
        row-gap: 200px;
    }
    .home-main>div:nth-child(3){
        grid-template-columns: 1fr;
    }
    .home-main>div>img:nth-of-type(even){
        transform: rotate(-8deg);
    }
    .home-main>div>img:active{
        transform: rotate(0deg);
    }
}