@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

.input-header{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    color: var(--light);
}

.input-main{
    margin: 0px 10vw 50px;
    border: 1px solid var(--light);
    border-radius: 5px;
}

.input-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50vw;
    margin: 30px auto;
    gap: 10px;
}
.input-form>div{
    grid-column: 1/3;
    color: var(--light);
    text-align: center;
    font-weight: bold;
}
.input-form input{
    font-size: 14px;
}

.input-head{
    margin-top: 30px;
}

.input-form>input{
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    outline-color: var(--light);
    box-sizing: border-box;
}
input::placeholder{
    font-size: 13px;
}

.btndiv{
    display: grid !important;
    grid-template-columns: 1fr 2fr !important;
    gap: 10px !important;
}

.input-btn{
    text-align: center;
    font-size: 15px !important;
    cursor: pointer;
    background-color: white;
    color: var(--light);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    font-weight: bold;
    border: 2px solid var(--light) !important;
    border-radius: 5px;
    padding: 10px;
    /* margin-top: 20px; */
}
.input-btn:hover{
    background-color: var(--light);
    color: white;
}

.singlefield{
    grid-column: 1/3;
}

.input-err{
    color: red;
    font-size: 13px;
    text-align: center;
}


.year>input{
    border: none;
    border-bottom: 1px solid var(--light);
    margin: 10px;
    border-radius: 3px;
    outline: none;
    outline-color: var(--light);
    font-weight: 400;
    color: black;
}
.year>input::placeholder{
    text-align: center;
}

.input-span{
    font-weight: 400;
    font-size: 15px;
}



.add-input-block{
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 5px;
}

.add-input-block>div{
    border-bottom: 2px dashed var(--light);
    height: 0;
}

.add-input-icon{
    font-size: 20px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.add-input-icon:hover{
    font-size: 23px;
}

.input-remove{
    cursor: pointer;
    padding: 3px;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    color: var(--light);
}
.input-remove>div{
    display: flex;
    align-items: center;
    font-size: 12px;

}
.input-remove-icon{
    color:var(--light);
    font-size: 18px;
}

.input-index{
    text-align: left !important;
    font-size: 13px;
}

.input-interest{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px,1fr));
    gap: 5px;
    justify-content: center;
}

.input-interest>div>input{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    outline-color: var(--light);
    font-weight: 400;
    color: black;
}

.input-interest>div{
    position: relative;
}

.interest-cls-icon{
    font-size: 17px;
    position: absolute;
    right: 2%;
    top: 2%;
    cursor: pointer;
}

.input-mob{
    -moz-appearance: textfield;
    appearance: none;
}

.input-mob::-webkit-outer-spin-button,
.input-mob::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.edu-grade{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-column: auto !important;
    align-items: center;
}

.grade-input{
    grid-column: auto !important;
}
.grade-input>input{
    border: 1px solid var(--light);
    border-radius: 5px;
    outline-color: var(--light);
    box-sizing: border-box;
    font-weight: 400;
    padding: 3px;
    width: 80%;
}

input[type="radio"]{
    cursor: pointer;
}

.form-img>input{
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 10px;
    outline-color: var(--light);
    box-sizing: border-box;
    color: black;
    font-weight: 400;
}

.form-img>input::placeholder{
   font-weight: 400;
}
.form-img{
    display: grid;
    grid-template-columns: 1fr auto;
    position: relative;
}
.form-img>div{
    display: grid;
    align-content: center;
    color: var(--light);
    font-size: 20px;
    padding: 0 10px;
    font-family: 'Courgette', cursive;
    cursor: pointer;
}
.hint{
    color: white !important;
    font-weight: 400 !important;
    font-family: 'Comfortaa', cursive !important;
    font-size: 11px !important;
    padding: 6px !important;
    background-color: var(--light);
    border-radius: 5px;
}
.hint-hide{
    display: none !important;
}

@media screen and (max-width:800px){

    .input-form{
        grid-template-columns: 1fr;
    }
    .singlefield{
        grid-column: auto;
    }
    .input-form>div{
        grid-column: auto;
    }
}

@media screen and (max-width:500px){
    .btndiv{
        grid-template-columns: 1fr !important;
    }
    .input-main{
        margin: 0px 5vw 50px;
    }

    .input-form{
        width: 90%;
    }
    .input-form input::placeholder{
        font-size: 11px;
    }
}
