
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --dark: #100720;
    --light: #643baa ;
  }


body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.link{
    text-decoration: none;

}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb{
    background-color:#23153a;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background-color:#3d2465;
}
::-webkit-scrollbar-thumb:active{
    background-color:#3e1087;
}


::-webkit-scrollbar-track {
    background-color: #d6caec;
}

.print-btn{
    background-color: var(--light);
    color: white;
    padding: 5px;
    border-radius: 5px;
}  
.print-btn:active{
    background-color:#7951bf;
}

.loader{
    margin: 30vh auto 0;
}
.loader-hint{
    color: var(--light);
    text-align: center;
}

.noprint{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}
.anchor-link:hover{
    font-weight: bold;
}


@media print {
    body{
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }
    @page {
        size: auto;
        margin: 0mm;  
    }
    .noprint{
        display: none;
    }
}