
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');


body{
    background-color: #100720;
    color: white;
}

div{
    font-family: 'Bowlby One Sc', cursive;
    text-align: center;
    font-size: 5rem;
}

button{
    background-color: white;
    font-size: 2rem;
    padding: 20px;
    cursor: pointer;
    margin-top: 90px;
    border: none;
}

button:hover{
    background-color: #5c3796;
    color: white;
}