
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
    --dark: #100720;
    --light: #643baa ;
  }


body{
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.link{
    text-decoration: none;
}