

.header{
    background-color: var(--light);
    display: grid;
    grid-template-columns: 1fr repeat(4,auto);
    gap: 30px;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 50px;
    border-bottom:3px solid var(--light);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header>div{
    color: white;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: max-content;
}

.header>div:first-child{
    font-size: 30px;
    font-family: 'Bowlby One Sc', cursive;
}

.logo{
    color: white;
}

@media screen and (max-width:450px) {
    .header{
        padding: 10px 20px;
    }
    .header>div{
        font-size:16px;
    }
}