.pageerror{
    margin: 50px;
}
.page404{
    font-size: 3rem;
    height: 80vh;
    color: var(--light);
    font-weight: bold;
    width: 40vw;
    margin: auto;
    border: 2px solid var(--light);
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    transform: rotate(5deg);
}

.page404>img{
    width: 200px;
}

@media screen and (max-width:700px) {
    
    .page404{
        width: 70vw;
    }
}

@media screen and (max-width:500px) {
    .page404>img{
        width: 150px;
    }
    .page404{
        width: 70vw;
    }
}
