
.theme-header{
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;
    color: var(--light);
}

.theme-main{
    margin: 0px 10vw 0;
    border: 1px solid var(--light);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 20px;
}

.theme-main>div>img{
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.theme-main>div>img:hover{
    transform: perspective(3000px) rotateY(20deg);
}

.theme-main>div{
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}


.theme-main-msg{
    grid-column: 1/4;
    color: var(--light);
    font-size: 1.5rem;
    margin-top: 20px;
}

.theme-main>div:focus{
    border: 2px solid var(--light);
    
}

.btn-div{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 20px 0 50px;
}

.btn{
    cursor: pointer;
    background-color: white;
    color: var(--light);
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    font-weight: bold;
    border-radius: 5px;
    padding: 7px;
    border: 2px solid var(--light);
}
.btn:hover{
    background-color: var(--light);
    color: white;
}

.clr-select{
    margin: 0px 10vw 0;
    border: 1px solid var(--light);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}
